<nb-layout-header class="header">
    <h2>Welcome to todo !</h2>
</nb-layout-header>
<div *ngIf="todos">
    <table class="table">
        <thead style="background-color:rgb(103, 126, 112)">
            <tr>
                <th scope="col">user Id</th>
                <th scope="col">id </th>
                <th scope="col">title</th>
                <th scope="col">completed</th>
            </tr>
        </thead>
        <tbody *ngFor="let td of todos">
            <tr *ngIf="td.id<=10">
                <th scope="row">{{ td.userId }}</th>
                <td>{{td.id }}</td>
                <td>{{td.title }}</td>
                <td>{{ td.completed }}</td>
            </tr>
        </tbody>
    </table>
</div>